<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3dTk7F-vnX2VE8giDT35VRhfRPrMaznw</string>
	<key>GCM_SENDER_ID</key>
	<string>22213161575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tr.gov.meb.tunceli.ilMemYonetim</string>
	<key>PROJECT_ID</key>
	<string>ilmem-yonetim</string>
	<key>STORAGE_BUCKET</key>
	<string>ilmem-yonetim.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22213161575:ios:578f33b1c81e961bfd1ac2</string>
</dict>
</plist>